{% extends "base.html" %}
{%load static %}
{% block blockcontent %}

<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Satenik Aleksanyan</h4>
            <p><em>I am qualified accountant-auditor. I am fond of traveling in the word of figures 
              and held people to organise their business in correct way..</em></p>
            <p>
            <ul>
              <li>PZ. Andranik Street, Yerevan, Armenia</li>
              <li>(374) 96553903</li>
              <li>alexaniansatenik@gmail.com</li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Armenian State University of Economics , Chair of Mathematical Methods in Economics </h4>
            <h5>2003 - 2008 </h5>  
          </div>
          <div class="resume-item">
            <h4>Chamber of Auditors and Expert Accountants of Armenia</h4>
            <h5>2011 - 2014</h5>    
          </div>
          <div class="resume-item">
            <h4>"Python" course of the AGBU</h4>
            <h5>2023</h5>    
          </div>
          <div class="resume-item">
            <h4>"LANGUAGE" </h4>
            <h5>Armenian-native</h5>  
            <h5>Russian-good</h5>
            <h5>Franch-good</h5>
            <h5>English-intermediate</h5>    
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Beginner Python Developper </h4>
            <h5>2023 - Present</h5>
            <p><em>Experion, Yerevan, RA </em></p>
           
          </div>
          <div class="resume-item">
            <h4> Accountant-auditor</h4>
            <h5>2008-Present</h5>
            <p><em>Experion, Yerevan, RA</em></p>
            <p>
            <ul>
              <li>I am qualified accountant-auditor. </li>
              <li>I am fond of traveling in the word of figures 
                and held people to organise their business in correct way.</li>
            </ul>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

{% endblock %}